version: 1.0.{build}
branches:
  only:
  - master
  - develop
configuration: Release
platform: Any CPU
nuget:
  project_feed: true
build:
  publish_nuget: true
  verbosity: minimal
test:
after_tests:
- ps: .\NuGet\pack.ps1
artifacts:
- path: SoSimpleDb\bin\$(configuration)\SoSimpleDb.dll