version: 1.0.{build}
branches:
  only:
  - master
  - develop
configuration: Release
platform: Any CPU
nuget:
  project_feed: true
build:
  publish_nuget: true
  verbosity: minimal
after_build:
- ps: .\NuGet\pack.ps1
artifacts:
- path: SoSimpleDb\bin\$(configuration)\SoSimpleDb.dll
- path: '**\*.nupkg'
deploy:
  provider: NuGet
  api_key:
    secure: msgVMfM7J0P9yu2r7JUxcRA1afhvqWftZT1q8ttR/rn61TZWavdN92+rpj05kzgJ
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    branch: master